body {
    background-color: hsl(30, 54%, 90%);
}

section {
    background-color: hsl(0, 0%, 100%);
    margin: 10% 20%;
    padding: 3%;
    border-radius: 20px;
}

img {
    border-radius: 10px;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

h3 {
    color: hsl(332, 51%, 32%);
}

b {
    color: hsl(30, 10%, 34%);
}

p {
    font-size: 16px;
    text-align: justify;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    color: hsl(24, 5%, 25%);
}

li {
    color: hsl(24, 5%, 25%);
    font-size: 16px;
    text-align: justify;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
}

table,
td,
th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    color: hsl(24, 5%, 25%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px 0px 15px 50px;
}

hr {
    border: 1px solid #ddd;
    margin: 35px 0px;
}

div {
    font-size: 12px;
    border-radius: 20px;
    padding: 1% 2%;
    background-color: hsl(330, 100%, 98%);
    font-family: "Outfit";
    font-weight: 700;
    font-style: normal;
}

div b {
    font-size: 13px;
}

div li {
    font-size: 12px;
}

.textInfo {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

@media (max-width: 888px) {
    section {
        margin: 10px;
    }
}