body{
    margin: 0px;
    background-image: url('BackGroud.png');
    background-position: top center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
header{
    width:100%;
    height:150px;
}
nav{
    width: 100%;
    height: auto;
    background-color: #333;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #333;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}
ol {
    list-style-type: circle;
  }
nav li{
    float: left;
}
nav a{
    display: inline-block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    background-color:rgba(0, 176, 26, 0.763);
}
.Click{
    background-color:rgba(0, 176, 26, 0.763);
}
.Texto{
    width: 60%;
    margin-left: 20%;
    height: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.852);
}
img{
  border-radius: 100%;
  border-style: double;
  border-width: 10px;
  width:180px;
  height:150px;
  margin:10px;
  position: inherit;
  
}
.imagem{
    text-align: center;
}
.Texto p{
    font-size: 14;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 5;
    width: 90%;
    margin-left: 5%;
}
h1{
    margin-left: 5px;
}
h2{
    margin-left: 5px;
}

.Texto a{
    font-style: initial;
    text-decoration: none;
    color: rgb(2, 57, 0);
}
.Texto a:hover{
    color: rgb(7, 200, 0);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    background-color:#c7ffc1;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
 tr:nth-child(even) {
    background-color: #dddddd;
}
ol li a{
    text-decoration: none;
    color:  #222;
}
.pagina{
    background-color: rgba(255, 255, 255, 0.802);
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    height: max-content;    
}
.pagina h1{
    text-align: center;
}
.pagina #contato{
    margin-left: 5%;
}
iframe{
    margin-left: 6%;
}