
<div class="row mt-5 mb-4">
  <div class="col">
    <h1>Contate-me</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <form action="#" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="assunto" class="form-label">Assunto</label>
        <input type="text" class="form-control" id="descricao" name="descricao" required>
      </div>
      <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem:</label>
        <textarea class="form-control" id="mensagem" name="mensagem" cols="60" rows="5" placeholder="Digite sua mensagem!">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>

