<div class="row mt-5 mb-4">
  <div class="col">
    <h1>Sobre Mim</h1>
  </div>
</div>
<div class="row">
    <div class="col">
        <p class="fw-medium">Organização e produtividade me levou a desenvolver esta plataforma para ajudar outras pessoas a gerenciar suas tarefas diárias de forma eficiente. Com anos de experiência em gerenciamento de projetos e uma dedicação constante à melhoria pessoal, estou aqui para compartilhar a melhor ferramenta com você!</p>
        <p class="fw-normal">Autor: Leyukezer Cruz de Lima</p>
    </div>
</div>