@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";
    font-style: normal;
}

body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

section{
    background-color: hsl(0, 0%, 98%);
    text-align: center;
    border-radius: 15px;
    width: 40%;
}

.image{
    height: 25vh;
    border-radius: 15px 15px 0 0;
    background-image: url(./images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.image:hover{
    height: 25vh;
    background-image: url(./images/tenor.gif);
    background-position: 10% 25%;
}

h1{
    color: hsl(223, 47%, 23%);
    font-size: 26px;
    text-transform: capitalize;
    text-shadow: 1px 1px;
    font-weight: 900;
    margin-top: 10%;
}

p{
    font-size: 16px;
    margin: 5%;
    padding: 0 15%;
    font-weight: 500;
    color: hsla(224, 23%, 55%, 0.877);
}

.plano{
    margin: 6%;
    padding: 5%;
    display: flex;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
.plano p{
    margin: 2% 0 0 auto;
    padding: 0 30% 0 5%;
    text-align: left;
    color: hsla(224, 23%, 55%, 0.877);
    font-weight: 500;

}
.plano strong{
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}
.plano a{
    margin: 5% 0 0 auto;

}
.plano .change{
    color: hsl(266, 75%, 52%);
    font-weight: bold;
}
.plano img{
    width: 18%;
}

button{
    margin: 1% 10%;
    padding: 2% 10%;
    height: 60px;
    width: 80%;
    background-color: hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btCancel{
    height: 100px;
    margin: 7%;
}
.cancel{
    text-decoration: none;
    font-weight: bold;
    color: hsl(224, 23%, 55%);
    margin-bottom: 50px;
}

@media (max-width: 1080px){
    section{
        margin: 10% 25%;
    }
}
@media (max-width: 880px){
    section{
        margin: 10% 10%;
    }
}